.footer {
  background-color: #624e43;
  padding: 3px;
  font-size: x-small;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons {
  margin-bottom: 10px;
}

.icon {
  font-size: 15px;
  margin: 0 10px;
  color: #cdcdcd;
}

.username,
.year {
  color: #cdcdcd;
}
